.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featured__item {
  flex: 1px;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow generator https://html-css-js.com/css/generator/box-shadow/ */
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featured__title {
  font-size: 20px;
}

.featured__money-container {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.featured__money {
  font-size: 30px;
  font-weight: 600;
}

.featured__money-rate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* target's featured__icon negative */
.featured__icon.negative {
  font-size: 14px;
  margin-left: 5px;
  color: red;
}

/* target's featured__icon positive */
.featured__icon.positive {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featured__subtitle {
  font-size: 15px;
  color: gray;
}
