.topbar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 999;
  position: sticky;
  top: 0;
}

.topbar__wrapper {
  height: 100%; /* it's gonna be 50px since it parent (topbar height) is 50px */
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-style: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbar__icon_container {
  position: relative;
  align-items: center;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
  color: #555;
}

.top__right {
  display: flex;
  align-content: center;
}

.topicon__bagde {
  position: absolute;
  top: -5px;
  right: 0px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.top__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
