.new__product {
  flex: 4;
}

.add__product-form {
  margin-top: 10px;
}

.add__product-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.add__product-item > label {
  margin-bottom: 10px;
  color: #8a8a8a;
  font-weight: 600;
}

.add__product-item > input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.add__product-item > select {
  padding: 10px;
  border-radius: 5px;
}

.add__product-btn {
  width: 250px;
  bottom: none;
  background-color: darkblue;
  color: whitesmoke;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 35px;
  cursor: pointer;
}

.add__product-btn:hover {
  background-color: #0000b3;
}
