.widget__small {
  flex: 1; /* 1 unit space (1 times bigger) */
  /* box-shadow generator https://html-css-js.com/css/generator/box-shadow/ */
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-right: 20px;
}

.widget__small-title {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
}

.widget__small-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.widget__small-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget__small-listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widget__small-user {
  display: flex;
  flex-direction: column;
}

.widget__small-userName {
  /* font-size: 16px; */
  font-weight: 600;
  margin-bottom: 5px;
}

.widget__small-userTitle {
  /* font-size: 14px; */
  font-weight: 300;
  color: #8e8e8e;
}

.widget__small-btn {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  color: #555;
}

.widget__small-icon {
  margin-right: 5px;
  font-size: 16px !important; /* force the size to be 16px */
}
